* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Title */
h1 {
    text-align: center;
}

/* Search Input */
.search-input-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search-input-wrapper input,
#search-button {
    padding: 0.2rem;
}

#search-button {
    cursor: pointer;
}

/* weater card */
.weather-container {
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.15);
    padding: 2rem;
    gap: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-bottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.forecast {
    display: flex;
    gap: 0.5rem;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.forecast .forecast-item:nth-child(n + 4) {
    display: none;
}

.temperature-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.temperature-buttons button {
    background: none;
    border: none;
    padding: 0.8rem;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 769px) {

    /* forecast item */
    .forecast .forecast-item:nth-child(n + 4) {
        display: unset;
    }

    .temperature-buttons {
    flex-direction: row;
}
}