* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page Title */
h1 {
    text-align: center;
}

/* Search Input */
.search-input-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search-input-wrapper input,
#search-button {
    padding: 0.2rem;
}

#search-button {
    cursor: pointer;
}

/* weater card */
.weather-container {
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 9px rgb(0, 0, 0, 0.15);
    padding: 2rem;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.card-top {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-bottom {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.card-bottom img {
    width: 150px;
}

.forecast {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forecast-item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5rem;
    width: 200px;
}

.forecast-item img {
    width: 75px;
}

.forecast .forecast-item:nth-child(n + 4) {
    display: none;
}

/* Forecast Group */
.forecast-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


/* Temperature Buttons */

.temperature-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.temperature-buttons button {
    background: none;
    border: none;
    padding: 0.8rem;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.temperature-buttons button.active {
    background: lightblue;

}

.loader {
  width: 140px;
  height: 140px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


/* Media Queries */
@media screen and (min-width: 600px) {
    /* forecast item */
    .forecast {
        flex-direction: row;
    }
    .forecast-item {
        width: unset;
    }

}

@media screen and (min-width: 769px) {

    /* forecast item */
    .forecast {
        flex-direction: row;
    }

    .forecast .forecast-item:nth-child(n + 4) {
        display: unset;
    }

    .temperature-buttons {
    flex-direction: row;
}
}